body {
    font-family: 'Playfair Display', serif;
    background-color: #c7b0da; /* adiciona um fundo branco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  div {
    background-color: #a057c2;  
    padding: 20px;
    border: 1px solid #100516;
    border-radius: 10px;

  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #240131;
    border-radius: 5px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  label {
    font-size: 16px;
  }
  
  label[for="lista"] {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin: 4px 3px;
    padding: 3px 56px;
    height: 4px;

  }